<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<h2>Products</h2>
<!--To display the names of the products, use the interpolation syntax {{ }}. Interpolation renders a property's value as text. Inside the <div>, adding a <h3> to display the interpolation of the product's name property. Adding <a> element and set its title to be the product's name by using the property binding [ ] syntax. Then point over property name to see the bound name property value, which is the product name plus the word "details". Interpolation {{ }} renders property value as text; property binding [ ] uses property value in a template expression.-->

<!--iterating over the predefined list of products, by placing *ngFor directive on a <div>-->  
<!--product list component also defines a products property that contains imported data for each product from the products array in products.ts-->
<!--creating product alerts for notifications on certain products-->
<div *ngFor="let product of products">

	   <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
<!--adding <p> element for products with descriptions-->
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
<!--addding share button-->
   <button (click)="share()">
    Share
  </button>

<!--Passing the current product as input to the component using property binding, on the app-product alert selector. The new product alert component takes a product as input from the product list. With that input, it shows or hides the "Notify Me" button, based on the price of the product. The Phone XL price is over $700, so the "Notify Me" button appears on that product.-->
<!--See Angular Component Interaction for more information about passing data from a parent to child component, intercepting and acting upon a value from the parent, and detecting and acting on changes to input property values-->

<!--binding the app-product-alerts component (which is what displays the "Notify Me" button) to the onNotify() method of the product list component-->
<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

</div>